body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

.wrapper {
  padding: 1em 0 4em;
}

.pd-top-15 {
  padding-top: 15px;
}

.pointer {
  cursor: pointer;
}

.pointer:hover {
  text-decoration: underline;
}

.button {
  border: none;
  background-color: crimson;
  padding: 9px;
  border-radius: 5px;
  color: #FFF;
  font-weight: bold;
  cursor: pointer;
}

.size-24 {
  font-size: 24px;
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.th {
  padding: 5px 0;
  text-align: left;
  min-width: 150px;
}

.pd-15 {
  padding-right: 15px;
  padding-bottom: 15px;
}

.delete {
  border: none;
  background-color: crimson;
  padding: 6px;
  border-radius: 15px;
  color: #FFF;
  font-weight: bold;
  cursor: pointer;
}

.addLess {
  border: none;
  background-color: crimson;
  padding: 5px;
  border-radius: 6px;
  color: #FFF;
  margin: 0 4px;
  font-weight: bold;
  cursor: pointer;
}